# Predições

## 1 Carga de libraries

In [2]:
from sklearn import preprocessing
#import cloudpickle as cp
import matplotlib.pyplot as plt 
from sklearn.base import BaseEstimator, TransformerMixin
plt.rc("font", size=14)
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
import seaborn as sns
sns.set(style="white")
import joblib
sns.set(style="whitegrid", color_codes=True)
import pandas as pd                                    # Manipulação de tabelas
import numpy as np                                     # Operações matemáticas
import warnings                                        # Remover warnings
import gc                                              # Limpa memória do cache
import pickle as pkl
#from pandas_profiling import ProfileReport
from sklearn.metrics import roc_auc_score
from sklearn import datasets, linear_model
from sklearn.model_selection import StratifiedKFold    # Cria KFold estratificado
from sklearn.model_selection import RandomizedSearchCV # Busca Aleatória de Parâmetros
import scipy.stats
warnings.filterwarnings("ignore")             # Ignora warnings
pd.set_option('display.max_columns', None)    # Remove limitador de colunas quando mostra a tabela

## 2 Carga de features

In [13]:
base_test = pd.read_csv('features.csv', sep=',', encoding='latin-1') # Rodando base Full

A Base importada tem 1000 linhas e 14 colunas.

In [14]:
base_test.head()

,RowNumber,CustomerId,Surname,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Gender_Male,Geography_Germany,Geography_Spain
0,10001,15798485,Copley,565,31,1,0.00,1,0,1,20443.08,1,0,0
1,10002,15588959,T'ang,569,34,4,0.00,1,0,1,4045.90,1,0,0
2,10003,15624896,Ku,669,20,7,0.00,2,1,0,128838.67,0,0,0
3,10004,15639629,McConnan,694,39,4,173255.48,1,1,1,81293.10,1,0,0
4,10005,15638852,Ts'ui,504,28,10,109291.36,1,1,1,187593.15,1,0,1

## 3 Leitura do modelo

In [10]:
pickled_model = pkl.load(open('model.pkl', 'rb'))

## 3 Predições

In [15]:
probabilidades_predicoes= pickled_model.predict_proba(base_test.drop(['RowNumber','CustomerId','Surname'],axis=1))
churn_predicoes= pickled_model.predict(base_test.drop(['RowNumber','CustomerId','Surname'],axis=1)).astype('float32') 
base_test['score_churn']= (probabilidades_predicoes[:,1])
base_test['churn']= churn_predicoes

## 4. Exportação da Base de Teste com predições

In [21]:
print('A Disposição do churn na base de teste é:'),
print(round((base_test['churn'].value_counts()/base_test.shape[0])*100,2),'em %')
base_test[['RowNumber','churn']].to_csv('predicoes_para_carga.csv',header=True,index=False)

A Disposição da variável resposta na base de teste é:
0.0    88.7
1.0    11.3
Name: churn, dtype: float64 em %